.comparison-container {
  align-items: center;
  border: 1px solid orchid;
  display: flex;
  height: calc(100vh - 7rem);
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .comparison-container {
    flex-direction: column;
    justify-content: space-around;
  }
}