.grid-container {
  display: grid;
  grid-template-areas: "header header header header" "compare-container compare-container compare-container sidebar" "compare-container compare-container compare-container sidebar";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 70px 1fr 1fr;
  height: 100%;
}

.header {
  background: #283048; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, var(--secondary-grey), var(--primary-grey));
  background: linear-gradient(to left, var(--secondary-grey), var(--primary-grey));
  grid-area: header;

}

.header-title {
  color: var(--primary-font-light);
  font-size: 3rem;
  font-weight: 400;
  padding: 1rem 0 1rem;
  text-align: center;
}

.compare-container {
  grid-area: compare-container;
  height: 100vh;
}

.sidebar {
  border: 1px solid var(--primary-grey);
  grid-area: sidebar;
  max-height: 100vh;
  overflow-y: scroll;
  padding: 2rem;
}

@media screen and (max-width: 1345px) {
  .grid-container {
    display: grid;
    grid-template-areas: "header header header header" "sidebar sidebar sidebar sidebar" "compare-container compare-container compare-container compare-container";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5rem 32rem 1fr;
    height: 100%;
  }

  .header {
    grid-area: header;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .compare-container {
    grid-area: compare-container;
  }

  .header-title {
    padding: 0;
  }
}