.grid-container {
  display: grid;
  grid-template-areas: "header header header header" "compare-container compare-container compare-container sidebar" "compare-container compare-container compare-container sidebar";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 70px 1fr 1fr;
  height: 100%;
}

.header {
  border: 1px solid slateblue;
  grid-area: header;
}

.compare-container {
  border: 1px solid green;
  grid-area: compare-container;
  height: 100vh;
}

.sidebar {
  border: 1px solid red;
  grid-area: sidebar;
  max-height: 100vh;
  overflow-y: scroll;
  padding: 2rem;
}

@media screen and (max-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-areas: "header header header header" "sidebar sidebar sidebar sidebar" "compare-container compare-container compare-container compare-container";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5rem 23rem 1fr;
    height: 100%;
  }

  .header {
    grid-area: header;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .compare-container {
    grid-area: compare-container;
  }

}