.search {
  background-color: #ffffff;
  height: 4rem;
  position: absolute;
  right: 0;
  top: 7rem;
  width: 25%;
}

.search-input {
  -webkit-appearance: none;
  border: 0;
  border: 1px solid red;
  font-size: 1.5rem;
  height: 3em;
  outline: 0;
  padding: 2rem;
  text-align: left;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .search {
    top: 5rem;
    width: 100%;
  }
}