.search {
  background-color: salmon;
  border: 1px solid olivedrab;
  height: 5rem;
  position: absolute;
  top: 7rem;
  width: 38rem;
}

.search-input {
  -webkit-appearance: none;
  background: none;
  border: 0;
  border: 1px solid red;
  font-size: 13px;
  height: 3em;
  outline: 0;
  padding: 1rem 2rem;
  text-align: left;
  width: 100%;
}