.comparison-card-message {
  font-size: 3rem;
  padding: 0 4rem;
}

@media screen and (max-width: 560px) {
  .comparison-card-message {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1345px) {
  .comparison-card-message {
    padding-top: 5rem;
  }
}